SQL/
**.env
*/*.vs
bash_scripting/shell-scripting-course

##############################
## Rust
##############################
**/debug/
**/target/
**/Cargo.lock
**/*.rs.bk
**/*.pdb

##############################
## Python
##############################
**/.ipynb_checkpoints/
**/.pytest_cache/
**/__pycache__/
**/venv/
**/.scrapy
*/deep_learning/Models/
**.pyc
**$py.class

##############################
## Java
##############################
*/.mtj.tmp/
*/.class
*/.jar
*/.war
*/.ear
*/.nar
*/hs_err_pid*

##############################
## Maven
##############################
*/target/
*/pom.xml.tag
*/pom.xml.releaseBackup
*/pom.xml.versionsBackup
*/pom.xml.next
*/pom.xml.bak
*/release.properties
*/dependency-reduced-pom.xml
*/buildNumber.properties
*/.mvn/timing.properties
*/.mvn/wrapper/maven-wrapper.jar

##############################
## IntelliJ
##############################
*/out/
*/.idea/
*/.idea_modules/
*/.iml
*/.ipr
*/.iws

##############################
## Visual Studio Code
##############################
**/.vscode/
**/.code-workspace

##############################
## Automation
##############################
automation_scripts/creds.py

##############################
## C++
##############################
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
